<h1>Profile#show</h1>
<p>Find me in app/views/profile/show.html.erb</p>


<li><%= @user.username %></li>
<li><%= @user.last_name %></li>
<li><%= @user.first_name %></li>
<li><%= @user.email %></li>


<h3>Mes images</h3>
<%if @user.pictures.attached?%>
  <% @user.pictures.each do |picture| %>
    <%= image_tag(picture) %>
  <% end %>
<%else%>
  <p>=== Il n'y a pas encore d'image lié à cet utilisateur ===</p>
<%end%>


